body {
	margin: 0;
}

.container {
	margin: auto;
	padding: 10px;
	max-width: 1200px;
}

.box {
	padding: 10px;
	border: 1px solid #777;
	border-radius: 10px;
	background: #222;
	color: #eee;
	font-family: monospace;
	font-size: 1.2em;
}